
body {
  font-family: 'Arial', sans-serif;
  background-image: url("password.jpg");
  background-size: 1365px 750px;
  background-repeat:repeat;
  margin: 0;
  padding: 0;
}

h2 {
  color: #333;
  margin-top: 140px;
  margin-left: 555px;
}

form {
  max-width: 400px;
  margin: 20px auto;
  background-color: rgba(65,65,65,0.5);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

input[type="password"],[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgba(65, 65, 65,0.2);
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 100px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
.btn{
  margin-left: 20px;
  background-color: #333;
  border-radius: 10px;
  height: 35px;
  cursor: pointer;
  color: #fff;
}
.nav{
  margin-left: 981px;
  margin-top: -100px;
}
label{
  color: white;
}
.logo{
  width: 80px;
  height: 80px;
  margin-top: 40px;
  margin-left: 10px;
  z-index: -1;
}
