body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #b5e6b6;
    background-image: url("login.jpg");
    background-size: 1365px 750px;
    background-repeat: repeat;
    display: flex;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.login-box {
    background-color: rgba(12, 12, 12,0.3);
    padding: 30px;
    padding-top: 100px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: 650px;
}

.login-box h1 {
    color: #104874;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(250, 247, 247, 0.1);
}

.login-button {
    background-color: rgb(176, 23, 7, 0.5);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.login-button:hover {
    background-color: #c0392b;
}

a {
    padding: 10px;
    color: #104874;
    text-decoration: none;
}

#heading {
    font-family: 'Headland One', serif;
    font-family: 'Roboto Condensed', sans-serif;
    padding-left: 500px;
    padding-top: 45px;
    color: rgb(250, 250, 250, 0.7);
}

h2 {
    font-family: 'Headland One', serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(250, 250, 250, 0.7);
    font-size: 60px;
    padding-top: 120px;
}
.logo{
    width: 80px;
    height: 80px;
    margin-top: 40px;
    margin-left: 10px;
    z-index: -1;
}
